body {
  background: burlywood;
  margin: 0;
}




.navbar {
    overflow: hidden;
    background-color: floralwhite;
    font-size: medium;
    text-align: justify;
    padding: 9px 10px;
    text-decoration: none;
    flex-direction: row;
}

.Link {
  flex-direction: column;
}
// .nav-links {
//     display: flex;
//     flex-direction: row;
//     word-spacing: 2;
  

  img {
    background-position: center;
    height: 200px;
  }
  